.main {
    line-height: 1.5;
}

.main .nav {
    height: 60px;
    background: #47464a;
    color: #999;
    text-align: center;
    line-height: 60px;
}

.main .nav a {
    margin: 0 38px;
}

.main .nav a:hover {
    color: #fff;
}

.main .nav a.select {
    color: #ef4238;
}